.box {
  animation: change-background 4s linear infinite alternate;
}
@keyframes change-background {
  0% {
    background: blue;
  }
  50% {
    background: orange;
  }
  100% {
    background: green;
  }
}

